@keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@keyframes text-end {
  0% {
    content: '_';
  }
  100% {
    content: '';
  }
}

body {
  $anim-duration: 1s; // 一行转场 3s；其他 1s
  transform-origin: center center;
  transition: all $anim-duration linear;
  .light-dark {
    color: $dark-light;
  }
  .scaled-text {
    color: $main-color;
  }
  // 缩放方式不同
  &.step2,
  &.fast {
    transition: all $anim-duration step-start;
  }

}
