.dialogue {
  @keyframes text-end {
    0% {
      content: '_';
    }
    100% {
      content: '';
    }
  }
  &.dialogue {
    position: absolute !important;
    bottom: 0;
    height: 220px;
    width: 90%;
    border: 5px solid $main-color;
    padding: 20px;
    background-image: url('../images/bg.png');
    box-shadow: inset 3px 3px rgba($main-color, 0.8);
  }
  #dialogue-text {
    display: inline-block;
    line-height: 55px;
    &::after {
      content: "_";
      animation: text-end 1s infinite;
    }
  }
}
.btn-box {
  display: flex !important;
  position: absolute !important;
  bottom: 12px;
  width: 100%;
  justify-content: space-around;
  .btn {
    height: 50px;
    cursor: pointer;
  }
}