body.end {
  background-color: #1967ff;
  display: flex;
  > div {
    color: white;
  }
  .tips {
    margin-left: 1rem;
    margin-top: 1.4rem;
    .pic {
      background: url('../../public/images/smile.png');
      width: 1.7rem;
      height: 2.6rem;
      background-size: contain;
    }
    .big-text {
      line-height: 0.8rem;
      font-size: 0.5rem;
      margin-top: 0.2rem;
    }
    .detail {
      margin-top: 1rem;
      padding-right: 0.8rem;
      display: flex;
      .questionnaire {
        // background: url('../../public/images/wechat.png');
        background: url('../../public/images/questionnaire.png');
        background-size: cover;
        // border: 15px solid white;
        width: 2rem;
        height: 2rem;
        flex-shrink: 0;
        margin-right: 0.5rem;
        position: relative;
        cursor: pointer;
        &:hover {
          &::after {
            content: '扫我丰富对话内容库~';
            display: block;
            font-size: 0.2rem;
            position: absolute;
            bottom: -0.3rem;
            width: 100%;
            text-align: center;
            // animation: blink 2s infinite;
          }
        }
      }
      .cast {
        font-size: 0.26rem;
        line-height: 0.46rem;
        display: flex;
        align-items: center;

        > div {
          display: flex;
          flex-direction: column;
          > div {
            margin-bottom: 0.1rem;
          }
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            margin: 0.1rem 0;
          }
        }
      }
    }

    .retry {
      font-size: 0.3rem;
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      display: flex;
      align-items: center;
      .btn {
        border: 4px solid white;
        padding: 0.1rem 0.2rem;
        margin-left: 10px;
        &:hover {
          position: relative;
          top: -3px;
          box-shadow: $btn-box-shadow;
          cursor: pointer;
        }
      }
    }
  }
}
