#current-data {
  display: flex !important;
  width: 90%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 8% 5% 0;
  .percent {
    width: 50%;
    border: 5px solid $main-color;
    height: 30px;
    > div {
      height: 100%;
      background-image: url("../images/percent.png");
      position: relative;
      &::after {
        content: '';
        display: block;
        background-size: contain;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 0;
        top: -54px;
      }
    }
  }
  .previous,
  .next {
    font-size: 50px;
    display: block;
    background-size: contain;
    width: 60px;
    height: 60px;
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
  .previous {
    background-image: url("../images/left.png");
  }
  .next {
    content: '';
    background-image: url("../images/right.png");
    transform: rotateX(180deg);
  }
  @each $type in $data-type {
    &.#{$type} .percent > div::after {
      background-image: url("../images/#{$type}.png");
    }
  }
  @media screen and (max-width: 900px) {
    transform: scale(0.45) translate(60%, 200%) !important;
    // .dialogue {
    //   transform: scale(0.48) translate(58%, 20%) !important;
    // }
  }
}