#current-data {
  display: flex !important;
  width: 90%;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  margin: 8vh 5% 0;
  .percent {
    width: 60vw;
    border: 5px solid $main-color;
    height: 40%;
    max-width: 400px;
    > div {
      height: calc(100% + 10px);
      background-image: url("../images/percent.png");
      position: relative;
      top: -5px;
      left: -5px;
      &::after {
        content: '';
        display: block;
        background-size: contain;
        width: 3vw;
        height: 3vw;
        max-width: 40px;
        max-height: 40px;
        position: absolute;
        right: 0;
        min-width: 25px;
        min-height: 25px;
        top: -100%;
      }
    }
  }
  .previous,
  .next {
    font-size: 50px;
    display: block;
    background-size: contain;
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
    min-width: 34px;
    min-height: 34px;
    &.disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
  .previous {
    background-image: url("../images/left.png");
  }
  .next {
    content: '';
    background-image: url("../images/right.png");
  }
  @each $type in $data-type {
    &.#{$type} .percent > div::after {
      background-image: url("../images/#{$type}.png");
    }
  }
  // @media screen and (max-width: 900px) {
  //   transform: scale(0.45) translate(60%, 200%) !important;
  // }
}
