@import './variable';
@import './mixin';
@import './mobile';

@font-face {
  font-family: IPixRegular;
  src: url("../font/IPixRegular.ttf");
  font-weight:800;
}
@font-face {
  font-family: VonwaonBitmap12;
  src: url("../font/VonwaonBitmap-12px.ttf");
  font-weight:1000;
}
@font-face {
  font-family: VonwaonBitmap16;
  src: url("../font/VonwaonBitmap-16px.ttf");
  font-weight:800;
}
@keyframes blink {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
#font-loader {
  font-family: VonwaonBitmap16;
  position: absolute;
  left: -1000px;
  visibility: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: VonwaonBitmap16;
  font-size: 40px;
  overflow: hidden;
}
* {
  user-select: none;
}
#game-view {
  background-image: url('../images/bg.png');
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: $main-color;
  .tips {
    width: 100%;
    text-align: center;
    margin-top: 20%;
    font-size: 30px;
    // 闪烁，但好像没生效 orz
    visibility: visible;
    animation: blink 1s step-start infinite;
  }
  canvas {
    background-image: url('../images/bg.png');
  }
  // @media screen and (max-width: 900px) {

  //   canvas {
  //     width: 100vw;
  //   }
  // }
  @import './modal';
  @import "./welcome";
  @import './home';
  @import './setting';

}
