@media screen and (max-width: 900px) {
  #game-view {
    font-size: 22px;
    div.title {
      font-size: 60px;
    }
    > div {
      width: 100vw !important;
      height: 100vh !important;
      z-index: 2;
      // transform: scale(0.48) translate(58%, 20%) !important;
      #current-data {
        height: 8%;
        .percent {
          border: $border-style-mobile;
          > div {
            height: calc(100% + $border-weight-mobile * 2);
            top: -$border-weight-mobile;
            left: -$border-weight-mobile;
          }
        }
      }
      .tips {
        font-size: 22px;
        margin-top: 20vh;
      }
      .modal {
        box-shadow: $btn-box-shadow-mobile;
        border: $border-style-mobile;
        &.dialogue {
          width: 80vw;
          height: 50vw;
          bottom: 20vw;
        }
        &.big {
          width: 80vw;
          height: 70vw;
          #modal-text {
            padding: 6vw;
          }
          .btn-box {
            .btn {
              border: $border-style-mobile;
              height: 10vw;
              width: 35vw;
              padding: 2px;
              line-height: 10vw;
            }
          }
        }
        #modal-text {
          line-height: 36px;
        }
        .btn-box {
          .btn {
            border: $border-style-mobile;
            height: 10vw;
            width: 35vw;
            padding: 2px;
            line-height: 10vw;
          }
        }
      }
      .character {
        .btn-box {
          padding-top: 66vw;
        }
        .confirm-btn {
          width: 50vw;
          height: 4vw;
          border: $border-style-mobile;
          top: 66vh;
          line-height: 4vw;
        }
      }
      .set-basic-data {
        .basic-data {
          width: 56vw;
          top: 46%;
          .data-name {
            padding: 0 4vw 2vw !important;
          }
          .percent {
            height: 6vw;
            border: $border-style-mobile;
          }
          .data-item {
            margin-bottom: 6vw;
            &.selected {
              &::before {
                width: 114%;
                left: -8%;
                border: $border-style-mobile;
              }
            }
          }
          .btn-box {
            width: 92vw;
            left: -18vw;
            top: 26%;
            .plus,
            .minus {
              width: 30px;
              height: 30px;
            }
          }
          .score-tips {
            font-size: 18px;
          }
          .start {
            border: $border-style-mobile;
          }
        }
      }
    }
    canvas {
      width: 100vw;
      position: absolute;
      top: 20vw;
    }
  }
}
