body.explaination {
  $content-width: 92vw;
  $tips-height: 50px;
  $top-bottom-space: 30px;
  display: flex;
  background: black;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  transition: none;
  .content-box {
    height: 100vh;
    line-height: $tips-height;
    width: $content-width;
    &.page1 {
      .text {
        position: absolute;
        width: $content-width;
        text-align: center;
        bottom: $top-bottom-space * 2;
        animation: blink 2s infinite;
      }
    }
    // &.page2 {
    //   width: 100vw;
    //   height: 100vh;
    //   background-color: black;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   > div{
    //     &::after {
    //       content: "_";
    //       animation: text-end 1s infinite;
    //     }
    //   }
    // }
    // &.page3 {
    &.page2 {
      .text {
        margin: $top-bottom-space 0;
        height: calc(100vh - $tips-height * 2 - $top-bottom-space * 4);
        overflow-y: auto;
      }
      &::before {
        content: "World 启动管理器";
        display: block;
        text-align: center;
        background-color: white;
        color: black;
        margin-top: $top-bottom-space;
      }
      &::after {
        content: 'Enter = 继续';
        display: block;
        background-color: white;
        color: black;
        position: absolute;
        bottom: $top-bottom-space;
        width: calc($content-width - 20px);
        padding-left: 20px;
      }
    }
    br {
      line-height: 30px;
    }
  }
  > div {
    color: white;
  }
  &.mobile .content-box.page3::after {
    content: 'Click = 继续';
  }
}

#game-view .no-support {
  width: 100%;
  text-align: center;
  padding-top: 10rem;
  line-height: 3rem;
  .bg {
    background: url('../images/characters/girl-emo.png');
    height: 1500vh;
    width: 1500vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.1);
    transform-origin: inherit;
    opacity: 0.2;
  }
  &::before {
    content: '';
    display: block;
    background-image: url('../images/characters/girl-emo.png');
    height: 8rem;
    width: 8rem;
    background-size: cover;
    margin: 0 auto;
  }
}
